 .bob {
    border: solid red;
    height: 40%;
    width: 20%;
}
#geral {
    border: solid red;
background:#f0e8c2;
width: 60%;
height: 60%;
 

}
p , ul {

    border: red solid;
    height: 50%;
    width: 50%;
}