body {
    background-image: url(fundo.jpeg);
    background-size: cover;
}

#geral {
    box-sizing: border-box;
    padding: 1% 5%;
    background-color: #f0e8c2;
    border-radius: 2%;
    width: 800px;
    border: solid rgb(172, 142, 96) ;
    margin: 48px auto;
}
img {
    border-radius: 20%;
    width: 70%;
    padding: 5%;
}