:root {
      font-family: "Alice", serif;
      line-height: 125%;
}

body {
    background-image: url(fundo.jpeg) ;
    background-size: cover;
}

#geral {
    box-sizing: border-box;
    padding: 1% 5%;
    background-color: #f0e8c2;
    border-radius: 2%;
    width: 800px;
    border: solid rgb(172, 142, 96) ;
    margin: 48px auto 60px auto;
}
img {
    border-radius: 20%;
    width: 100%

}

#desenho {
 width: 50%;
 opacity: 0.4;
 margin-left: 30%;
}

.ingredients section {
    width: 150%;
    margin-bottom: 0;
}

#about {
    padding: 4%;
}

h1 {
    font-size: 200%;
    text-align: center;
}

h2 {
    font-size: 150%;
}

h3 {
    font-size: 140%
}

#topping {
    margin-top: 0;
    margin-left: 5%;
}

footer{
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
}